<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common/head :: common_header(~{::title},~{},~{})">
    <title>ログイン</title>
  </head>
  <body
    class="bg-light vw-100 vh-100 d-flex flex-column justify-content-center align-items-center"
  >
      <div class="card text-center shadow flex-grow-0" style="width: 28rem">
        <h4 class="card-header fw-bold">ログイン</h4>
        <div class="card-img-top">
          <div style="font-size: 8rem;">📚</div>
        </div>
        <div class="card-body">
          <form method="post" th:action="@{/login}">
            <div th:if="${param.error}" class="alert alert-danger">
              ユーザー名またはパスワードが正しくありません。
            </div>

            <div class="mb-3">
              <input
                placeholder="ユーザー名"
                type="text"
                name="username"
                class="form-control"
                required
                autofocus
              />
            </div>
            <div class="mb-3">
              <input
                placeholder="パスワード"
                type="password"
                name="password"
                class="form-control"
                id="inputPassword"
                required
                autofocus
              />
            </div>
            <button class="btn btn-primary w-100" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
